<table class="editor-js-table">
    {% for row in content %}
        {% if loop.first and withHeadings %}
            <tr>
                {% for heading in row %}
                    <th>
                        {{ heading }}
                    </th>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                {% for content in row %}
                    <td>
                        {{ content }}
                    </td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
